@font-face{
	font-family: 'stefane';
	src: url("../fonts/bpg-mikheil-stefane-webfont.eot");
	src: url("../fonts/bpg-mikheil-stefane-webfont.woff");
	src: url("../fonts/bpg-mikheil-stefane-webfont.ttf");
	src: url("../fonts/bpg-mikheil-stefane-webfont.svg");
	src: url("../fonts/bpg-mikheil-stefane-webfont.woff2");
}