body, html{
	width:100%;
	height:100%;
	background-color: white;

}

body{
	padding:5%;
}
.wrapper{
	background-color: #20AC6A;
	height:100%;
	padding:5%;
	
}
.logo{
	width: 20%;
	float: right;
}
.nav{
	float:right;
}
.navigation-li{
	display:inline-block;
	color: #fff;
	margin-right:30px;
	font-size: 300%;
	font-family:'stefane';
}

.clear{
	clear: both;
}

.box1{
	float: right;
	padding:3%;
	background-color: #FBEB1E;
	margin-top:40px;
	width:48%;
}
.box1 img{
	float:left;
	margin-right: 5%;
	margin-bottom:5%;
}
.box2{
	float: left;
    padding:3%;
	background-color: #FBEB1E;
	margin-top:40px;
	width:48%;
}
.box2 img{
	float: right;
	margin-left: 5%;
	margin-bottom: 5%;
	
}
.boximage{
	width:20%;
}
